@inherits LayoutComponentBase

<div class="app-container">
    <!-- Le menu se place tout en haut -->
    <header>
        <NavMenu />
    </header>

    <!-- Le contenu de tes pages se met en dessous, libéré de toute marge -->
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>